# Core serve
vllm==0.6.0
torch==2.3.1
torchvision==0.18.1

# Open WebUI desde PyPI (sin build)
open-webui==0.3.26

# RAG
pymupdf>=1.23.8
chromadb>=0.5.5
sentence-transformers>=3.0.0
unstructured>=0.14.0
python-docx>=0.8.11
openpyxl>=3.1.2

